
.s-body {
    &_card-container {
        display: flex;
        justify-content: center;

        &--dark {
            background-color: $black;
        }
        &--small {
            width: 75%;
            margin-left: auto;
            margin-right: auto;
        }

    }

    &--internal {
        padding-top: $header_height;
    }
    
}