/**
 * Styles for header
 */
.s-header {
    height: $header_height;
    z-index: 100;
    position: absolute;
    top: 0;
    width: 100%;
    transition: all 0.2s;

    &_top {
        padding: 0 10px;
        background-color: rgba(0, 0, 0, 0.4);
        flex: 1;
        height: $header_top_height;
        flex-direction: row-reverse;
    }

    &_bottom {
        padding: 0 10px;
        flex: 1;
        background-color: $black;
        display: flex;
        height: $header_bottom_height;
    }

    &_social {
        display: flex;
        align-items: center;
        width: 150px;
        margin-left: auto;
        height: $header_top_height;
    }

    &_logo {
        width: $logo_width;
        display: flex;
        transition: all 0.2s;
        
        &_img {
            transition: all 0.2s;
            width: $logo_width;
            margin-top: -15px;
        }
    }
}

.s-header--sticky {
    position: fixed;
    top: 0;
    width: 100%;

    .s-header {

        &_top {
            display: none;
        }

        &_logo {
            width: $logo_width_sticky;

            &_img {
                width: $logo_width_sticky;
                margin-top: 5px;
            }
        }
    }
}