.alert {
  text-align: center;
  padding: 0.8rem;
  font-size: 1.25rem;
  font-weight: 500;
  font-family: $font_one;
  margin-top: 2rem;

  &--success {
    background: $green;
    color: $white;
    border: 3px solid $white;
  }

  &--danger {
    background: $red;
    color: $white;
    border: 3px solid $white;
  }
}
