/**
 * Variables For Cirrus Design Website
 */

// Fonts
$oswald: 'Oswald', sans-serif;
$ariel: 'Ariel', sans-serif;

$font_one: $oswald;
$font_two: $ariel;

// Colors
$white: #FFFFFF;
$black: #000000;
$yellow: #ffe000;
// Background
$bg_grey: #29292a;
// Footer
$ft_grey: #373738;

